ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
  }
  li {
    display: inline;
    color: #222;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 5px;
    padding: 5px;
    text-decoration: rgb(34, 34, 34);
    text-decoration-color: rgb(34, 34, 34);
    text-decoration-line: none;
  }
  a:hover, a:active{
      text-decoration: underline;
  }

  .header{
      display: flex;
  }
  
  .footer{
      display: flex;
  }
  #sign-in {
      background-color: blue;
      color: #fff;
      padding: 2px 8px 2px 8px;
      border-width: 0px;
      border-radius: 5px;
  }
button{
    background-color: #fff;
    border-width: 0;
    color: rgb(87, 86, 86);
}
button:hover{
    border-width: 2px;
    border-radius: 5px;
    padding: 3 6 3 6;
}
  form {
    width: 300px;
    height: 44px;
    border-color: #a3a1a1;
    border-width: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
 .footer {
    display: block; 
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
 }
