body{
    height: 100%;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
     display: flex;
      justify-content: flex-end;
      align-items: center;
   
  }
   li {
    
    display: inline;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif !important;
    margin: 0px 5px;
    padding: 5px;
      }
     
      a:link {
        text-decoration: none;
        color: #222;
     }
     a:hover { text-decoration: underline}
 .item1{
     margin-right:auto;
 }
  a:hover, a:active{
      text-decoration: underline;
  }

  nav.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
div.container{
    min-height: 10em;
    display: table-cell;
    vertical-align: middle 
}
div.sub-container{
    margin: 0px;
    position: absolute;
    top: 40%;
    left: 55%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
input {
        font: 16px system-ui;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 20em;
    height: 100%;
    width: 100%;
    padding: 10px 80px;
    background-color: rgb(255, 255, 255);
    background-image: url('https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Asearch');
    transform: translate(-25%, -1%)
  }
.button-form{
    background-color: #f8f9fa;
border: 1px solid #f8f9fa;
border-radius: 4px;
color: #3c4043;
font-family: arial,sans-serif;
font-size: 14px;
margin: 11px 4px;
padding: 0 16px;
line-height: 27px;
height: 36px;
min-width: 54px;
text-align: center;
cursor: pointer;
user-select: none;
}
.button-form:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
background-color: #f8f9fa;
border: 1px solid #dadce0;
color: #202124;
}
  .button-header {
      background-color: #2b7de9;
      color: #fff;
      padding: 2px 8px 2px 8px;
      border-width: 0px;
      border-radius: 5px;
      font-weight: 500;
font-size: 14px;
letter-spacing: .25px;
line-height: 16px;
margin-right: 8px;
min-width: 96px;
padding: 9px 23px;
text-align: center;
vertical-align: middle;
border: 1px solid transparent;
  }
  .button-header:hover{
    box-shadow:  1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
    background: #3281e7;
    line-height: 16px;
margin-right: 8px;
min-width: 96px;
padding: 9px 23px;
text-align: center;
vertical-align: middle;
  }
button{
    background-color: #fff ;
    border-width: 0px ;
    color: rgb(87, 86, 86);
    padding: 10px 5px;
    font-size: 12px;
}
button:hover{
    border-width: 1px;
    border-radius: 5px;
    padding: 3px 6px;
}


 .footer {
    display: block; 
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #eeeeee;
    padding: 10px 1px;
 }

 .footer a:link{
     color: rgb(145, 145, 145);
     font-size: 14px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
 }
.footer .center{
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
.footer .right{
    float: right;
 }
