body{
    height: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
     display: flex;
      justify-content: flex-end;
      align-items: center;
   
  }
  li {
    display: inline;
    color: #222;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 5px;
    padding: 5px;
    text-decoration: rgb(34, 34, 34);
    text-decoration-color: rgb(34, 34, 34);
    text-decoration-line: none;
  }
  a:hover, a:active{
      text-decoration: underline;
  }

  nav.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
div.container{
    min-height: 10em;
    display: table-cell;
    vertical-align: middle 
}
div.sub-container{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 55%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
input {
        font: 16px system-ui;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 20em;
    height: 100%;
    width: 100%;
    padding: 10px 80px;
    background-color: rgb(255, 255, 255);
    background-image: url('https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Asearch');
    transform: translate(-25%, -1%)
  }
  .footer{
      display: grid;
  }
  #sign-in {
      background-color: blue;
      color: #fff;
      padding: 2px 8px 2px 8px;
      border-width: 0px;
      border-radius: 5px;
  }
button{
    background-color: #fff;
    border-width: 0;
    color: rgb(87, 86, 86);
    padding: 10px 5px;
    font-size: 12px;
}
button:hover{
    border-width: 1px;
    border-radius: 5px;
    padding: 3 6;
}


 .footer {
    display: block; 
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
 }
